img {
    float: left;
    width: 300px;
    margin-right: 25px;
}

.post {
    clear: both;
}

a {
    text-decoration: none;
}

a.title {
    color: #ff1900;
    font-size: 25px;
    font-weight: 700;
    transition: .3s;
}

.time-tag {
    margin: 10px;
}

a.title:hover {
    opacity: .7;
}

.tag a {
    color: #fff;
    display: inline-block;
    background: #007bff;
    padding: 3px 10px;
    position: relative;
    margin-left: 7px;
}

.tag a:before {
    content: '';
    display: inline-block;
    border: 12px solid #3330;
    height: 0px;
    border-right: 7px solid #007bff;
    position: absolute;
    left: -19px;
    top: 0px;
}

.tag:hover {
    color: #31a4df;
}

.time {
    float: left;
    margin-top: 3px;
    margin-right: 15px;
    font-weight: 600;
}

